
{% for smtpKey, smtpValue in smtp %}
   
        {% if (smtpKey == 'useSmtpDatabase') or (smtpKey == 'useSmtp') or (smtpKey == 'smtpAutoTls') %}
            {{ Form_getDropdown(smtpLabels[smtpKey], smtpKey, smtpKey, selectEnabling, smtpValue) }}
        {% elseif (smtpKey == 'smtpSecure') %}
            {{ Form_getDropdown(smtpLabels[smtpKey], smtpKey, smtpKey, secureSelect, smtpValue) }}
        {% elseif (smtpKey == 'smtpPwd') %}
            {{ Form_getPassword(smtpLabels[smtpKey], smtpKey, smtpKey, smtpValue) }}
        {% else %}
            {{ Form_getTextfield(smtpLabels[smtpKey], smtpKey, smtpKey, smtpValue) }}
    
        {% endif %}
  
{% endfor %}
{#

        case 'smtp_secure':
            echo '<div class="form_line_l"><p><label class="floating" for="smtp_info">' . Lang::t('_' . strtoupper($key)) . '</label></p>' . Form::getInputDropdown('', $key, "smtp_info[$key]", $secureSelect, $localCfg[$key]) . '</div>';
            break;
        case 'smtp_pwd':
            echo Form::getPassword(Lang::t('_' . strtoupper($key)), $key, "smtp_info[$key]", 255, '', '', '', $value);
            break;
        default:
            echo Form::getTextfield(Lang::t('_' . strtoupper($key)), $key, "smtp_info[$key]", 255, $value);
            break;

#}
