

<h3><?php echo Lang::t('_SMTP_INFO'); ?></h3>
<div class="form_line_l">

    $smtptoDB = $cfg['use_smtp_database'];

    $select = [
        'on' => 'Si',
        'off' => 'No',
    ];

    $secureSelect = ['ssl' => 'SSL', 'tls' => 'TLS'];

    ?>
</div>
<?php
foreach ($localCfg as $key => $value) {
        switch ($key) {
        case 'use_smtp_database':
        case 'use_smtp':
        case 'smtp_auto_tls':
            echo '<div class="form_line_l"><p><label class="floating" for="smtp_info">' . Lang::t('_' . strtoupper($key)) . '</label></p>' . Form::getInputDropdown('', $key, "smtp_info[$key]", $select, $localCfg[$key]) . '</div>';
            break;
        case 'smtp_secure':
            echo '<div class="form_line_l"><p><label class="floating" for="smtp_info">' . Lang::t('_' . strtoupper($key)) . '</label></p>' . Form::getInputDropdown('', $key, "smtp_info[$key]", $secureSelect, $localCfg[$key]) . '</div>';
            break;
        case 'smtp_pwd':
            echo Form::getPassword(Lang::t('_' . strtoupper($key)), $key, "smtp_info[$key]", 255, '', '', '', $value);
            break;
        default:
            echo Form::getTextfield(Lang::t('_' . strtoupper($key)), $key, "smtp_info[$key]", 255, $value);
            break;
    }
    }
?>
