
<div class="modal {{ class }}" id="easy-modal">
  <div class="modal-navbar">
    <div id="modal-title" class="modal-title">
      <h1 id="title">{{ title }}</h1>
    </div>
    <div id="close_handler" class="modal-exit close_handler">
      <div id="mdiv">
        <div class="mdiv">
          <div class="md"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-bg"></div>
  <div class="modal-container">
    <div class="content-wrapper">
      {{ content }}
    </div>
  </div>
</div>
