<ul class="folderTree__ul js-sortable-tree">
    {% for el in data %}
        {% if el.is_folder %}
            <li data-id="{{ el.id }}" class="folderTree__li {% if el.childCount > 0 %}ft-is-parent{% endif %} is-droppable" draggable="true">
                {% if el.childCount > 0 %}
                    <span class="arrow"></span>
                {% endif %}
                <button data-id="{{ el.id }}"
                    type="button"
                    class="folderTree__link ft-is-folder {% if el.childCount > 0 %}ft-has-child{% endif %} is-dropzone">
                    <span>{{ el.title }}</span>
                </button>
            </li>
        {% endif %}
    {% endfor %}
</ul>
