@function grid($columns, $length) {
  @return calc((100% / #{$columns}) * #{$length});
}

.d-grid {
  width: 100%;
  height: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0;
  // overflow: hidden;
}

.d-grid--no-overflow {
  overflow: initial;
}

.d-row {
  @include breakpoint($ipad) {
    margin: {
      left: rem(-8);
      right: rem(-8);
    };
  }
}

.d-row {
  margin: {
    left: -8px;
    right: -8px;
  }
  // overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.d-col {
  float: left;
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
}

.d-col--no-padding {
  padding-left: 0;
  padding-right: 0;
}

@for $i from 0 through 12 {
  .d-col--#{$i} {
    width: grid(12, $i);
    flex-basis: grid(12, $i);
  }

  .d-col-gap--#{$i} {
    margin-left: grid(12, $i);
  }

  .d-col--#{$i}--desktop {
    @include breakpoint($ipad) {
      width: grid(12, $i)!important;
      flex: grid(12, $i)!important;
      max-width: grid(12, $i)!important;
    }
  }

  .d-col-gap--#{$i}--desktop {
    @include breakpoint($ipad) {
      margin-left: grid(12, $i);
    }
  }
}
