#Exclude composer
html/composer.lock
html/vendor/*
html/vendor/**
!html/vendor/keep

# Sezione html/files
html/files/**
!html/files/logs
html/files/logs/*
!html/files/**/.htaccess

!html/files/**/index.html
!html/files/common/iofiles/demo_20060313_095630.csv
!html/files/common/iofiles/demo_tree_20060412_234612.xml
!html/files/common/iofiles/demo_tree_20060413_234612.xml
!html/files/appLms/certificate/certificate_sample.jpg
!html/files/appLms/label/label_image.png
# Sezione html/templates
html/templates/*
!html/templates/standard
html/templates/standard/style/custom.css


# Sezione Plugin
html/plugins/**
!html/plugins/.gitignore
!html/plugins/report_course
!html/plugins/report_aggregate
!html/plugins/report_user
# Authentication
!html/plugins/FacebookAuth
!html/plugins/FormaAuth
!html/plugins/GoogleAuth
!html/plugins/LinkedinAuth
!html/plugins/TwitterAuth
!html/plugins/ConferenceBBB
!html/plugins/ConferenceTeleSkill
!html/plugins/Dummy/**

#Sezione Tools
tools/php-cs-fixer/vendor
tools/php-cs-fixer/vendor/**

# Sezione generica
.idea/
html/config.php
test/behat/behat_config.yml
docs/
.vscode/**
.DS_Store
html/check.php
html/forma.lock

# doctrine
bin/doctrine
bin/doctrine-dbal
