<div class="js-router--dashboard dashboard">
    <div class="d-grid">
        <div class="d-row">
            {% for block in blocks %}
                {% include  block.view with {'block': block } %}
            {% endfor %}
        </div>
    </div>
</div>

