.folder-view {
}

.folder-view__aside {
}

.folder-view__title {
  padding: 15px 0;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-primary);
}

.folder-view__filters {
  border-bottom: solid 4px var(--color-primary);
}

.folder-view__link {
}

.folder-view__toggle {
}

.folder-view__table {
  width: 100%;
}

.folder-view__aside {
}
