<div class="page-header">
    <h1>{{ Lang_translate('menu_course', '_STORAGE') }}</h1>
</div>

<div class="std_block fv-is-student-area js-disable-context-menu js-disable-sortable js-disable-drag-and-drop">
    {% include 'container.html.twig' with { tab: data, isStudent: true } %}
</div>

<script>
    new window.frontend.modules.StudentLearningObject({
        controller: 'lomanagerorganization',
        selector: 'organization',
    });
</script>
