<div id="forma-uploader"></div>
<script>

    Axios.defaults.headers.post['X-Signature'] = window.frontend.config.signature;
    Axios.defaults.headers.post['Content-Type'] = 'multipart/form-data';
    document.getElementById('forma-uploader').FormaFileUploader({
        OnSubmitClick: function (obj) {
            this.Errors = {};
            obj.formData.append('back_url', '{{ back_url }}')
            this.Uploading = true;
            Axios({
                method: 'post',
                url: `${window.frontend.config.url.appLms}/index.php?modname=item&op=insitem`,
                data: obj.formData
            }).then(res => {
                this.Uploading = false;
                if (res.data.errors) {
                    this.Errors = res.data.errors;
                } else {
                    this.SuccessMessage = obj.info.length <= 1 ? `E' stato creato un nuovo materiale didattico. Redirect fra 2 secondi...` : `Sono stati creati ${obj.info.length} nuovi materiali didattici`;
                    console.log(res.data.back_url);
                    setTimeout(function () {
                        window.location = res.data.back_url
                    }, 2000);
                }

                console.log(res.data);
            });
        }
    });
</script>

