<div id="forma-uploader"></div>
<script>

    Axios.defaults.headers.post['X-Signature'] = window.frontend.config.signature;
    Axios.defaults.headers.post['Content-Type'] = 'multipart/form-data';
    document.getElementById('forma-uploader').FormaFileUploader({
        OnSubmitClick: function (obj) {
            obj.formData.append('back_url', '{{ back_url }}')
            this.Uploading = true;
            Axios({
                method: 'post',
                url: `${window.frontend.config.url.appLms}/index.php?modname=item&op=insitem`,
                data: obj.formData
            }).then(res => {
                if (res.data.errors) {

                } else {
                    this.SuccessMessage = 'Files correttamente caricati';

                    setTimeout(function () {
                        window.location = res.data.back_url
                    }, 2000);
                }

                console.log(res.data);
            });
        }
    });
</script>

