
<div id="forma-uploader"></div>
<script>
    console.log(window.frontend.config);
    Axios.defaults.headers.post['X-Signature'] = window.frontend.config.signature;
    Axios.defaults.headers.post['Content-Type'] = 'multipart/form-data';
    document.getElementById('forma-uploader').FormaFileUploader({
        OnSubmitClick: function(obj) {  
            this.Uploading = true;          
            Axios({
                method: 'post',
                url: `${window.frontend.config.url.appLms}/index.php?modname=item&op=insitem`,
                data: obj.formData
            }).then(res => {
                this.SuccessMessage = 'Files correttamente caricati';
            });
        }
    });
</script>

