.course-info {

  // .course-info__value {
  //   font-size: 13px;
  // }

  // .course-info__label {
  //   margin-bottom: 3px;
  // }

}

.course-info__general {
  margin-bottom: 11px;
}

.course-info__table {
  width: 45%;
  float: left;
  display: table;
  margin-bottom: 16px;
  margin-right: 7px;

  @include breakpoint($ipad) {
    width: 50%;
    margin-right: 0;
    margin-bottom: 0;
    height: 36px;
  }
}

.course-info__table--full {
  width: 100%;
  float: none;
  display: block;
  margin-bottom: 22px;

  @include breakpoint($ipad) {
    margin-top: 10px;
    height: auto;
  }
}

.course-info__label {
  width: 100%;
  display: block;
  font-size: 9px;
  color: var(--color-0-400);
  margin-bottom: 5px;
  text-transform: uppercase;

  @include breakpoint($tablet) {
    width: 92px;
    display: table-cell;
    padding-right: 12px;
  }
}

.course-info__value {
  width: auto;
  display: block;
  font-size: 14px;
  line-height: 19px;

  @include breakpoint($tablet) {
    display: table-cell;
    line-height: 21px;
  }
}

.course-info__link {
  text-decoration: none;
  color: var(--color-1-550);
  font-family: $font;
  margin-right: 7px;

  &:hover {
    text-decoration: underline;
  }
}

.course-info__diskspace {

}

.course-info__paragraph {
  margin-top: 16px;
  padding-left: 19px;
  font-size: 15px;
}

.course-info__peoplecontainer {
  margin-bottom: 50px;
}

.course-info__people {
  padding-left: 0;
  margin-bottom: 15px;

  @include breakpoint($tablet) {
    margin-top: 4px;
    margin-bottom: 11px;
  }

  &:nth-child(odd) {
    padding-right: 0;
  }
}

.course-info__peopletxt {
  float: left;
  max-width: calc(100% - 80px);
}

.course-info__peopleimage {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: var(--color-1-550);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  float: left;
  margin-right: 14px;

  @include breakpoint($tablet) {
    width: 66px;
    height: 66px;
  }
}

.course-info__peoplename {
  display: block;
  font-size: 14px;
  color: var(--color-1-550);
  margin-bottom: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include breakpoint($tablet) {
    font-size: 16px;
    margin-bottom: 14px;
  }
}

.course-info__peoplename--modal {
  color: var(--color-0-000);
  width: calc(100% - 124px);
  margin-bottom: 0;
  text-overflow: inherit;
  white-space: inherit;

  @include breakpoint($tablet) {
    width: calc(100% - 180px);
    font-weight: 700;
    font-size: 17px;
  }
}

.course-info__peoplebio {
  text-decoration: underline;
  color: var(--color-0-600);
  font-size: 12px;
  float: left;
  margin-right: 20px;

  @include breakpoint($tablet) {
    margin-right: 6px;
    float: none;
    margin-bottom: 12px;
    display: block;
  }

  @include breakpoint($small-desktop) {
    float: left;
    display: inline;
    margin-bottom: 0;
  }
}

.course-info__peoplecta {
  float: left;
  display: block;
  width: auto;
  height: auto;
  margin-top: -2px;
  line-height: 22px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--color-3-450);
  border-color: var(--color-3-450);

  @include breakpoint($tablet) {
    font-size: 10px;
    margin-top: -4px;
    padding-left: 12px;
    padding-right: 12px;
    float: none;
    width: 84px;
  }

  @include breakpoint($small-desktop) {
    float: left;
  }
}

.course-info__materials {
  margin-bottom: 16px;
}

.course-info__file {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 17px;
  
  @include breakpoint($tablet) {
    display: block;
    // padding-right: 10px;
  }
}

.course-info__icon {

}

.course-info__edit {
  display: none;

  @include breakpoint($tablet) {
    display: block;
    padding-left: 6px;
  }
}

.course-info__delete {
  display: none;

  @include breakpoint($tablet) {
    display: block;
    padding-left: 4px;
  }
}

.course-info__icon--download {
  width: 18px;
  height: 24px;
  margin-right: 10px;
  text-decoration: underline;
}