
// course-box scss variables
$course-box-border: 2px;

.page-header {
  border-bottom: 0 !important;
}

// main div
.course-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-height: 305px;
  margin-bottom: 25px;
  border-radius: $border-radius;
  font-family: $font;
  overflow: hidden;
  border: solid $course-box-border var(--color-0-070);
  transition:
    // transform 0.2s ease 0s,
    box-shadow 0.3s ease 0s
  ;
  cursor: default;
  // @include breakpoint($tablet) {
  //   max-width: 404px;
  // }
}
:is(.course-box--disabled,.course-box--disabled *) {
  filter: grayscale(100%);
  pointer-events: none;
  opacity: 0.8;
  // user-select: none;
}

.course-box:hover {
  box-shadow: var(--color-0-070) 5px 5px 0 0;
  // transform: scale(1.01,1.01);
  // border: $course-box-border solid var(--color-0-250);
  // border-bottom: $course-box-border solid var(--color-1-550);
  // border-right: $course-box-border solid var(--color-1-550);
  .course-box__cover {
    background-position: 55% 55%;
    transition: background-position 300ms ease-in-out;
  }
}

.course-box > * {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.course-box__header {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  min-width: 25px;
  max-width: max-content;
  top: 4px;
  left: 4px;
  height: 25px;
  background: rgba(255,255,255,0.2);
  border-radius: 100vh;
  padding: 3px 0;

  .course-box__icon {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    width: 24px;
    height: auto;
    align-items: center;
    justify-content: center;

    .fa {
      opacity: 0.7;
    }

    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 50%;
      background: {
        position: center;
        repeat: no-repeat;
        size: contain;
        // color: var(--color-0-000);
      }
    }
  }

}

.course-box__nav {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 200px;
  height: 100px;
  // border-radius: 50%;
  background: transparent !important;

  .course-box__options {
    margin: 0 !important;
    
    .dropdown-toggle {
      $dropdownToggleSize: 19px;
      width: $dropdownToggleSize;
      height: $dropdownToggleSize;
      display: grid;
      place-content: center;
      color: var(--color-0-400);
      cursor: pointer;
      z-index: 1000;
      border: 1px solid red;
      border-radius: 50%;
      background: white;
      padding: 10px;
      border: 1px solid var(--color-0-250);

      &:before {
        content: "";
        width: $dropdownToggleSize;
        height: $dropdownToggleSize;
        position: absolute;
        top: 0;
        left: 0;
        // border: solid 1px var(--color-0-400);
        // border-radius: 50%;
      }

      &:hover {
        color: var(--color-3);

        // &:before {
        //   border-color: var(--color-3);
        // }
      }
    }

    .dropdown-menu {
      padding: 3px 0;
      top: calc(100% + 1px);
      right: 0;
      border: solid 1px var(--color-0-250);
      box-shadow: none;
      z-index: 1000;
      border-radius: $border-radius;

      a {
        font-size: 10px;
        text-transform: uppercase;
        color: var(--color-3);

        &:hover,
        &:focus,
        &:active {
          background: transparent;
          color: var(--color-1-550);
        }
      }
    }
  }
}

.course-box__category {
  position: absolute;
  padding: 4px 10px 3px;
  top: 116px;
  left: 5px;
  background: rgba(255,255,255,0.8);
  border-radius: 100vh;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 9px;
  line-height: 9px;
  width: max-content;
}

.course-box__cover {
  position: relative;
  height: 140px;
  background: {
    image: url(images/course-box/course-box-bg.png);
    repeat: no-repeat;
  }
  background-position: 50% 50%;
  background-size: cover;
  transition: background-position 300ms ease-in-out;
}

.course-box__title {
  padding: 10px 3px 3px 9px;
  height: 54px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 14px;
  font-weight: bold;
  // background-color: ivory;
}

.course-box__description {
  padding: 0 9px 0 9px;
  color: var(--color-0-600);
  font-size: 11px;
  line-height: 1.3em;
  overflow: hidden;
  height: 48px;
  // background-color: lightblue;
}

.course-box__closingdate {
  width: 100%;
  font-size: 9px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 9px;
  background-color: var(--color-0-050) !important;

 .course-box__closingdate__text {
   display: block;
   &:after {
    content: ': ';
  }
 }
 .course-box__closingdate__value {
   display: block;
   font-weight: bold;
   padding-right: 0.3rem;
 }
}

.course-box__extrainformation {
  flex: 1 1 50%;
  // background: #eee;
  // min-height: 31px;
  // padding-left: 9px;
  font-size: 9px;
  // background-color: plum;
  display: flex;
  align-items: center;
  & > * {
    display: inline-block;
  }
  .course-box__next {
    flex: 1 0 61%;
    padding-left: 6px;
    .course-box__next__text {
      display: block;
      &::after {
        content: ': ';
      }
    }
    .course-box__next__value {
      display: block;
      font-weight: bold;
    }
  }
  .course-box__allDates {
    flex: 1 0 39%;
    padding-right: 1.4rem;
    a {
      color: var(--color-1-550);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}


.course-box__cta {
  margin: auto auto 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .course-box__cta__button {
    flex: 0 0 50%;
    height: 100%;
    // border-top-left-radius: 100vh;
    // max-height: 100%;
    // line-height: 100%;
    // font-size: 14px;   
    background: var(--color-3);
    margin: auto 0 0 auto;
    position: relative;
    border-bottom-right-radius: 0;
    &::before {
      position: absolute;
      content: '';
      left: -20px;
      top: 0;
      bottom: 0;
      width: 21px;
      background-color: var(--color-3);
      clip-path: polygon(100% 0, 105% 100%, 0 100%);
      transition: all 0.4s ease 0s;
    }
    &:hover {
      background: var(--color-1-550);
      color: var(--color-0-000);
      .forma-button__label:after {
        animation-duration: 400ms;
        animation-name: formaButtonLabelAfter;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
      &::before {
        background: var(--color-1-550);
      }
    }

  .forma-button__label {
    left: -1rem;
  }


    .course-box__modal__footer & {
      width: auto;
      min-width: 140px;
      max-width: 100%;
      float: right;
      background-color: var(--color-0-250);
    }

    &.forma-button--disabled {
      border: 0;
      font-size: .8em !important;
      font-style: italic;
    }
  
  }
}







// Verify if the code below is necessary
div {
  .course-box__date-box {
    position: relative;
    width: calc(50% - 10px);
    height: 50px;
    padding-left: 40px;
    line-height: 50px;
    float: left;
    color: var(--color-0-400);
    font-size: 12px;
    border: 1px solid var(--color-0-250);
    border-radius: 5px;

    &:before {
      content: "";
      position: absolute;
      top: 14px;
      left: 9px;
      width: 20px;
      height: 20px;
      background: {
        position: center;
        repeat: no-repeat;
        size: contain;
      }
    }

    @include breakpoint($tablet) {
      height: 50px;
    }
  }

  .course-box__date-box--end {
    color: var(--color-6);
    border-color: var(--color-6-500);
  }

  .course-box__date-box--no-date {
    color: var(--color-0-250);
    border-color: var(--color-0-250);

    &:before {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  i + .course-box__date-box {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .course-box__date-box + i {
    float: left;
    margin: 0 6px;
    padding-top: 18px;
    color: var(--color-0-400);
  }

  .course-box__dl-course-supply,
  .course-box__show-dates {
    margin-top: 5px;
    font-size: 10px;
    text-decoration: none;
    color: var(--color-3);
    cursor: pointer;
    transition: color 0.25s ease 0s;

    .glyphicon {
      font-size: 8px;
      line-height: 10px;
    }

    &:hover {
      text-decoration: underline;
      color: var(--color-1-550);
    }
  }

  .course-box__dl-course-supply {
    display: inline-block;
  }

  .course-box__modal {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999;
    background-color: var(--color-0-000);
    opacity: 0;
    visibility: hidden;
    transition: {
      property: z-index, opacity, visibility;
      duration: 0s, 0.25s;
      timing-function: ease-out;
      delay: 0.25s, 0s;
    }

    @include breakpoint($tablet) {
      width: 472px;
      height: auto;
      max-height: 510px;
      top: 50%;
      left: calc(50% - 236px);
      transform: translateY(-50%);
      border: solid 1px var(--color-0-400);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    &.is-open {
      transition-delay: 0s;
      z-index: 99999;
      opacity: 1;
      visibility: visible;
    }
  }

  .course-box__modal__header {
    overflow: hidden;
    padding: 20px 25px;
  }

  .course-box__modal__content {
    padding: 0 25px;
  }

  .course-box__modal__footer {
    overflow: hidden;
    padding: 15px;
  }

  .course-box__modal__entry {
    border-top: solid 1px var(--color-0-250);

    &:first-child {
      border-top-color: var(--color-3);
    }

    &:nth-child(n + 2) {
      margin-top: 35px;
    }

    &:last-child {
      padding-bottom: 35px;
      margin-bottom: 45px;
      border-bottom: solid 1px var(--color-0-250);
    }
  }

  .course-box__modal__title {
    font-size: 18px;
    line-height: 20px;
    color: var(--color-0-400);

    .course-box__modal__header & {
      max-width: calc(100% - 90px);
      padding: 5px 0;
      float: left;
      text-transform: uppercase;
    }

    .course-box__modal__entry & {
      padding: 15px 0;
    }

    .course-box__modal__entry:first-child & {
      color: var(--color-1-550);
    }
  }

  .course-box__modal__lesson {
    table-layout: fixed;
    width: 100%;
    font-size: 14px;
    color: var(--color-0-400);

    @include breakpoint(480px) {
      table-layout: auto;
      width: auto;
      font-size: 16px;
    }

    &:nth-of-type(n + 2) {
      margin-top: 15px;
    }

    .course-box__modal__entry:nth-child(n + 2) & {
      .mycourses-list & {
        opacity: 0.64;
      }
    }

    td {
      vertical-align: middle;

      @include breakpoint(480px) {
        min-width: 140px;
      }
    }
  }

  .close-button {
    .course-box__modal__header & {
      float: right;
    }
  }

  .box_edizioni {
    .course-box & {
      display: none;
    }
  }

  .mycourses-list {
    @include breakpoint($ipad) {
      padding-left: 7.5px;
      padding-right: 7.5px;
    }
  }

}


















// code to hide
.HTML_structure--NOT-REAL-CSS {
  display: none;
  // Course Box
  //
  // These are the restyled course boxes<br />
  //
  // Style guide: 3

  // My courses
  //
  // This is the restyled course box used in My Courses<br />
  // <strong>NB: The 'style' attributes are just for this representation only, when implementing
  // be sure to delete them.</strong><br />
  //
  // Markup:
  //  <div style="max-width: 404px;">
  //    <div class="course-box">
  //      <div class="course-box__item">
  //        <div class="course-box__title course-icon--active">Lorem ipsum dolor sit amet</div>
  //      </div>
  //      <div class="course-box__item course-box__item--no-padding">
  //        <div class="course-box__img">
  //          <img src="" alt="">
  //          <div class="course-box__img-title">lorem ipsum</div>
  //        </div>
  //      </div>
  //      <div class="course-box__item">
  //        <div class="course-box__owner course-box__owner--5">Amministratore</div>
  //		  <div class="course-box__options dropdown pull-right">
  //			<div class="dropdown-toggle" id="courseBoxOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  //			  <i class="glyphicon glyphicon-option-horizontal"></i>
  //			</div>
  //			<ul class="dropdown-menu" aria-labelledby="courseBoxOptions">
  //			  <li><a href="javascript:void(0)">option 1</a></li>
  //			  <li><a href="javascript:void(0)">option 2</a></li>
  //			  <li><a href="javascript:void(0)">option 3</a></li>
  //			</ul>
  //		  </div>
  //        <div class="course-box__desc">
  //          Lorem Ipsum dolor sit amet, consectetur adipiscing elit. Facilis ponatur
  //          infinito oderis obruamus. Effectices, terroribus cognosci elegans totam
  //          atilli arare p minuendas.
  //        </div>
  //      </div>
  //      <div class="course-box__item course-box__item--half course-box__item--no-padding">
  //        <div class="course-box__date-text">31 agosto 2016</div>
  //		  <p class="course-box__show-dates js-course-box-open-dates-modal"><i class="glyphicon glyphicon-play"></i> &nbsp; show all dates</p>
  //		  <div class="course-box__modal">
  //			<div class="course-box__modal__header">
  //			  <p class="course-box__modal__title">Course title</p>
  //			  <button type="button" class="close-button js-course-box-close-dates-modal">
  //				<span class="close-button__icon"></span>
  //				<span class="close-button__label">close</span>
  //			  </button>
  //			</div>
  //			<div class="course-box__modal__content">
  //			  <div class="course-box__modal__entry">
  //				<p class="course-box__modal__title">Next lesson</p>
  //				<table class="course-box__modal__lesson">
  //				  <tr>
  //					<td>Name:</td>
  //					<td>Lesson name</td>
  //				  </tr>
  //				  <tr>
  //					<td>Code:</td>
  //					<td>####</td>
  //				  </tr>
  //				  <tr>
  //					<td>Date begin:</td>
  //					<td>yyyy/mm/dd</td>
  //				  </tr>
  //				  <tr>
  //					<td>Date end:</td>
  //					<td>yyyy/mm/dd</td>
  //				  </tr>
  //				  <tr>
  //					<td>Location:</td>
  //					<td>place</td>
  //				  </tr>
  //				</table>
  //			  </div>
  //			  <div class="course-box__modal__entry">
  //				<p class="course-box__modal__title">Others</p>
  //				<table class="course-box__modal__lesson">
  //				  <tr>
  //					  <td>Name:</td>
  //					  <td>Lesson name</td>
  //				  </tr>
  //				  <tr>
  //					  <td>Code:</td>
  //					  <td>####</td>
  //				  </tr>
  //				  <tr>
  //					  <td>Date begin:</td>
  //					  <td>yyyy/mm/dd</td>
  //				  </tr>
  //				  <tr>
  //					  <td>Date end:</td>
  //					  <td>yyyy/mm/dd</td>
  //				  </tr>
  //				  <tr>
  //					  <td>Location:</td>
  //					  <td>place</td>
  //				  </tr>
  //				</table>
  //			  </div>
  //			</div>
  //			<div class="course-box__modal__footer">
  //			  <button type="button" class="forma-button">Discard</button>
  //			</div>
  //		  </div>
  //      </div>
  //      <div class="course-box__item course-box__item--half course-box__item--no-padding">
  //        <a class="forma-button forma-button--orange-hover forma-button--full" href="">
  //          <span class="forma-button__label">
  //            Entra nel corso
  //          </span>
  //        </a>
  //      </div>
  //    </div>
  //  </div>
  //
  // Style guide: 3.1

  // Course Catalogue
  //
  // This is the restyled course box used in Course Catalogue<br />
  // <strong>NB: The 'style' attributes are just for this representation only, when implementing
  // be sure to delete them.</strong><br />
  // Also the id attribute of the forma-button here is used by YUI, so when the refactor ends<br />
  // it will likely disappear.
  //
  // Markup:
  //  <div style="max-width: 404px;">
  //    <div class="course-box">
  //      <div class="course-box__item">
  //        <div class="course-box__title">Lorem ipsum dolor sit amet</div>
  //      </div>
  //      <div class="course-box__item course-box__item--no-padding">
  //        <div class="course-box__img">
  //          <img src="" alt="">
  //          <div class="course-box__img-title">lorem ipsum</div>
  //        </div>
  //      </div>
  //      <div class="course-box__item">
  //        <div class="course-box__desc">
  //          Lorem Ipsum dolor sit amet, consectetur adipiscing elit. Facilis ponatur
  //          infinito oderis obruamus. Effectices, terroribus cognosci elegans totam
  //          atilli arare p minuendas.
  //        </div>
  //      </div>
  //      <div class="course-box__item">
  //        <div class="course-box__date-box calendar-icon--check">31 agosto 2016</div>
  //        <i class="fa fa-angle-right" aria-hidden="true"></i>
  //        <div class="course-box__date-box course-box__date-box--end calendar-icon--green-cross">30 novembre 2017</div>
  //      </div>
  //      <div class="course-box__item" id="">
  //        <a class="forma-button forma-button--orange-hover forma-button--full" href="">
  //          <span class="forma-button__label">
  //            Entra nel corso
  //          </span>
  //        </a>
  //      </div>
  //    </div>
  //  </div>
  //
  // Style guide: 3.2
}
.course-box--OLD-COMMENTED-CSS {
  display: none;
  // .course-box__item--half {
  //   width: 100%;
  //   float: left;
  //   padding: {
  //     left: 30px;
  //     right: 30px;
  //   }

  //   @include breakpoint($tablet) {
  //     width: 50%;
  //     padding: {
  //       left: 30px;
  //       right: 0;
  //     }
  //   }
  // }

  // .course-box__item--half + .course-box__item--half {
  //   padding: {
  //     left: 30px;
  //     right: 30px;
  //   }

  //   @include breakpoint($tablet) {
  //     padding: {
  //       left: 0;
  //       right: 30px;
  //     }
  //   }
  // }
  // .course-box__item--no-padding {
  //   padding: 0;
  // }
}