.d-calendar {
  font-family: $font;

  .fc-button{
    background-color: $white!important;
    border: none!important;
  }

  .fc-today-button {
    color: $anthracite;
  }
  
  .fc-day-top {
    padding-top: 5px;
  }

  .fc-sun {
    color: $orange;
  }

  .fc-icon-chevron-left,
  .fc-icon-chevron-right {
    color: $orange;
  }
}

.d-calendar__item  {
  margin-top: 38px;
}

