.d-communication__item {
    height: 84px;
    margin-top: 38px;
    float: left;
    padding: 0 2%;
  }

.d-communication__date {
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    color: var(--color-0-870);
  }

.d-communication__title {
    height: 17px;
    font-weight: 700;
    line-height: 17px;
    color: var(--color-1-550);
    overflow: hidden;
  }

.d-communication__desc {
    height: 51px;
    font-weight: 400;
 
    line-height: 17px;
    color: var(--color-0-870);
    overflow: hidden;
  }

  .d-communication__button_wrapper {
    width: 100%;
    margin: auto;
    float: left;
    padding: 5%;
  }

  .d-communication__button_wrapper a {
    margin: auto;
    display:block;

  }

  .d-communication__content-wrapper{
    font-size: 12px;
  }

  .d-communication__button_wrapper .forma-button__label:after{
    content: none;
  }