.d-message {
  .d-item {
    margin: 18px 0;
    overflow: hidden;

    .d-title {
      font-weight: $bold;
      font-size: 14px;
      color: var(--color-1-550);
      padding: 3px;
    }
    .d-subject {
      font-weight: $bold;
      font-size: 12px;
      color: var(--color-1-550);
      padding: 3px 6px 3px 3px;
    }
    .d-date {
      font-weight: $bold;
      font-size: 10px;
      color: var(--color-0-870);
      padding: 3px;
    }
    .d-link {
      font-weight: $bold;
      font-size: 12px;
      color: var(--color-0-870);
      padding: 6px;
      &:hover {
        color: var(--color-1-550);
      }
    }
    .d-subtitle {
      font-weight: $regular;
      font-size: 14px;
      padding: 3px;
      color: var(--color-0-870);
    }
  }
}
