.d-title {
  display: block;
  color: var(--color-1-550);
  font-size: 25px;
  font-weight: $bold;
  padding: {
    top: 48px;
    left: 10px;
    bottom: 10px;
  }
  border-bottom: 1px solid var(--color-0-070);
}