// Aside
//
// Aside menù
//
// Style guide: 8

// Aside
//
// Markup:
// <div class="col-md-4">
//   <div id="treeview1" class="treeview aside">
//     <ul class="list-group">
//       <li class="list-group-item node-treeview1 node-checked node-selected" data-nodeid="0" style="color:#FFFFFF;background-color:#C84000;">
//         <span class="icon expand-icon glyphicon glyphicon-chevron-down"></span>
//         <span class="icon node-icon"></span>
//         Tutti i corsi
//       </li>
//       <li class="list-group-item node-treeview1" data-nodeid="1">
//         <span class="indent"></span>
//         <span class="icon expand-icon glyphicon glyphicon-chevron-right"></span>
//         <span class="icon node-icon"></span>
//         COMMERCIALE
//       </li>
//       <li class="list-group-item node-treeview1" data-nodeid="5">
//         <span class="indent"></span>
//         <span class="icon expand-icon glyphicon glyphicon-chevron-right"></span>
//         <span class="icon node-icon"></span>
//         COMUNICAZIONE
//       </li>
//       <li class="list-group-item node-treeview1" data-nodeid="12">
//         <span class="indent"></span>
//         <span class="icon glyphicon"></span>
//         <span class="icon node-icon"></span>
//         Edizioni
//       </li>
//       <li class="list-group-item node-treeview1 node-selected" data-nodeid="13" style="color:#FFFFFF;background-color:#C84000;">
//         <span class="indent"></span>
//         <span class="icon expand-icon glyphicon glyphicon-chevron-down"></span>
//         <span class="icon node-icon"></span>
//         GESTIONALE
//       </li>
//       <li class="list-group-item node-treeview1" data-nodeid="14">
//         <span class="indent"></span>
//         <span class="indent"></span>
//         <span class="icon glyphicon"></span>
//         <span class="icon node-icon"></span>
//         categoria xxxy
//       </li>
//       <li class="list-group-item node-treeview1" data-nodeid="15">
//         <span class="indent"></span>
//         <span class="icon glyphicon"></span>
//         <span class="icon node-icon"></span>
//         MANAGEMENT
//       </li>
//       <li class="list-group-item node-treeview1" data-nodeid="16">
//         <span class="indent"></span>
//         <span class="icon glyphicon"></span>
//         <span class="icon node-icon"></span>
//         Office
//       </li>
//       <li class="list-group-item node-treeview1" data-nodeid="17">
//         <span class="indent"></span>
//         <span class="icon glyphicon"></span>
//         <span class="icon node-icon"></span>
//         ON BOARDING
//       </li>
//       <li class="list-group-item node-treeview1" data-nodeid="18">
//         <span class="indent"></span>
//         <span class="icon glyphicon"></span>
//         <span class="icon node-icon"></span>
//         Stand Virtuale
//       </li>
//     </ul>
//   </div>
// </div>
//
// Style guide: 8.1

.aside {
  padding: 20px;
  border: 2px solid $gray-4;
  border-radius: 5px;
  font-family: $font;

  .indent {
    display: inline;
    width: 20px;
    height: 20px;
  }

  .icon.expand-icon {
    width: 10px;
    height: 15px;
    margin-right: 5px;
    //top: 50%;
    //transform: translateY(-50%);
    display: inline;
    position: relative;
    z-index: 9999;

    &:before {
      content: '';
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      //top: 50%;
      //transform: translateY(-50%);
      top: 2px;
    }

    &.glyphicon-chevron-right {
      &:before {
        width: 10px;
        height: 15px;
        background-image: url('#{$assets}images/icons/aside/icon--arrow-right.svg');
        left: -20px;
      }
    }

    &.glyphicon-chevron-down {
      &:before {
        width: 23px;
        height: 14px;
        background-image: url('#{$assets}images/icons/aside/icon--arrow-down.svg');
        left: -30px;
      }
    }
  }

  .list-group {
    box-shadow: none;
    margin-bottom: 0;
  }

  .list-group-item {
    height: 40px;
    margin-bottom: 10px;
    padding: {
      top: 0;
      right: 12px;
      bottom: 0;
      left: 20px;
    };
    line-height: 40px;
    position: relative;
    border-radius: 5px;
    transition: $transition-base;

    &:last-child {
      margin-bottom: 0;
    }

    &.node-treeview1 {
      &:hover {
        cursor: pointer;
        background-color: $dark-orange!important;
        color: $white!important;
      }
    }

    &:first-child {
      padding-left: 35px;

      .glyphicon-chevron-down {
        &:before {
          left: -25px;
        }
      }
    }
  }
  
  .node-checked {
    background-color: $white!important;
    color: $black!important;
  }
}