// Course Box
//
// These are the restyled course boxes<br />
//
// Style guide: 3

// Course Box - My courses
//
// This is the restyled course box used in My Courses<br />
// <strong>NB: The 'style' attributes are just for this representation only, when implementing
// be sure to delete them.</strong>
//
// Markup:
//  <div style="width: 33%;">
//    <div class="course-box">
//      <div class="course-box__item">
//        <div class="course-box__title course-icon--active">Lorem ipsum dolor sit amet</div>
//      </div>
//      <div class="course-box__item">
//        <div class="course-box__img">
//          <img src="" alt="">
//          <div class="course-box__img-title">lorem ipsum</div>
//        </div>
//      </div>
//      <div class="course-box__item">
//        <div class="course-box__owner course-box__owner--admin">Amministratore</div>
//        <div class="course-box__desc">
//          Lorem Ipsum dolor sit amet, consectetur adipiscing elit. Facilis ponatur
//          infinito oderis obruamus. Effectices, terroribus cognosci elegans totam
//          atilli arare p minuendas.
//        </div>
//        <div class="course-box__item course-box__item--half">
//          <div class="course-box__date">31 agosto 2016</div>
//        </div>
//        <div class="course-box__item course-box__item--half">
//          <a class="button">
//            <span class="button__label">
//              Entra nel corso
//            </span>
//          </a>
//        </div>
//      </div>
//    </div>
//  </div>
//
// Style guide: 3.1

// Course Box - Course Catalogue
//
// This is the restyled course box used in Course Catalogue<br />
// <strong>NB: The 'style' attributes are just for this representation only, when implementing
// be sure to delete them.</strong>
//
// Markup:
//  <div style="width: 33%;">
//    <div class="course-box">
//      <div class="course-box__item">
//        <div class="course-box__title course-icon--active">Lorem ipsum dolor sit amet</div>
//      </div>
//      <div class="course-box__item">
//        <div class="course-box__img">
//          <img src="" alt="">
//          <div class="course-box__img-title">lorem ipsum</div>
//        </div>
//      </div>
//      <div class="course-box__item">
//        <div class="course-box__owner course-box__owner--admin">Amministratore</div>
//        <div class="course-box__desc">
//          Lorem Ipsum dolor sit amet, consectetur adipiscing elit. Facilis ponatur
//          infinito oderis obruamus. Effectices, terroribus cognosci elegans totam
//          atilli arare p minuendas.
//        </div>
//        <div class="course-box__item course-box__item--half">
//          <div class="course-box__date">31 agosto 2016</div>
//        </div>
//        <div class="course-box__item course-box__item--half">
//          <a class="button">
//            <span class="button__label">
//              Entra nel corso
//            </span>
//          </a>
//        </div>
//      </div>
//    </div>
//  </div>
//
// Style guide: 3.2

.course-box {
  width: 100%;
  min-height: 330px;
  padding-bottom: 30px;
  border: 1px solid $gray-4;
  border-radius: 5px;
  font-family: $font;
  overflow: hidden;
  transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;

  &:hover {
    border: 1px solid $orange;
    box-shadow: $gray-3 0px 5px 20px 0px;

    .course-box__img-title {
      background-color: rgba(255, 108, 0, 0.5);
    }
  }
}

.course-box__item {
  width: 100%;
}

.course-box__item--half {
  width: 50%;
  float: left;

  &:last-child {
    padding-right: 30px;
  }
}

.course-box__title {
  position: relative;
  width: 100%;
  height: 70px;
  padding: 25px 30px;
  color: $anthracite;
  font-weight: 600;

  &:after {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    bottom: 20px;
    background: {
      position: center;
      repeat: no-repeat;
      size: contain;
    };
  }
}

.course-box__img {
  position: relative;
  height: 140px;
  background: {
    image: url(images/course-box/course-box-bg.png);
    repeat: no-repeat;
    size: cover;
    position: center;
  };
}

.course-box__img-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
  padding: 12px 30px;
  background-color: rgba(0, 0, 0, 0.2);
  color: $white;
  text-transform: uppercase;
  font-size: 10px;
  transition: background-color 0.4s ease 0s;
}

.course-box__owner {
  position: relative;
  padding: {
    top: 30px;
    bottom: 15px;
    left: 65px;
  };
  font-size: 10px;
  text-transform: uppercase;
  color: $gray-2;

  &:before {
    content: '';
    position: absolute;
    left: 30px;
    bottom: 6px;
    width: 30px;
    height: 30px;
    background: {
      position: center;
      repeat: no-repeat;
      size: contain;
    };
  }
}

.course-box__desc {
  margin-bottom: 30px;
  padding: 0 30px;
  color: $gray-1;
  font-size: 13px;
  line-height: 20px;
}

.course-box__date {
  padding: {
    top: 5px;
    left: 30px;
  };
  color: $gray-2;
  font-size: 12px;
  font-weight: 600;
}