* {
  outline: none !important;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: transparent;
  transition: visibility .4s linear 0s, opacity .4s linear 0s;

  &.appIsReady {
    visibility: visible !important;
    opacity: 1 !important;
    pointer-events: all !important;
    transition: visibility .4s linear 0s, opacity .4s linear 0s;
  }
}

.clear {
  clear: both;
}