/* #007a96*/
.forma-drop-zone {
	position: relative;
	font-family: inherit;
	background-color: var(--color-white);
	background-image: -webkit-linear-gradient(top, #bababa, #bababa);
	background-image: -moz-linear-gradient(top, #bababa, #bababa);
	background-image: linear-gradient(top, #bababa, #bababa);
	border-radius: 0px;
	min-height: 200px;
	width: 100%;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	// box-shadow: 0 0 10px rgb(0, 0, 0, 30%);
	&:hover {
		cursor: pointer;
		.fd-middle-wrapper {
			border: 6px dashed var(--color-primary);
			color: var(--color-primary);
		}
	}
	&.has-files {
		border-radius: 0px 0px 0px 0px;
	}
	.fd-middle-wrapper {
		text-align: center;
		color: #767676;
		background-color: #bababa;
		padding: 40px 50px;
		border: 6px dashed #555555;
		text-transform: uppercase;
	}
}
.fd-alert-success {
	background-image: -webkit-linear-gradient(top,#dff0d8 0,#c8e5bc 100%);
	background-image: -o-linear-gradient(top,#dff0d8 0,#c8e5bc 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#dff0d8),to(#c8e5bc));
	background-image: linear-gradient(to bottom,#dff0d8 0,#c8e5bc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
	background-repeat: repeat-x;
	border-color: #b2dba1;
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	display: flex;
  align-items: center;
	.success-message {
		font-size: 22px;
	}
	// Elements
	.success-icon {
		&__tip,
		&__long {
			display: block;
			position: absolute;
			height: 4px;
			background-color: var(--color-secondary);
			border-radius: 10px;
		}

		&__tip {
			width: 2.4em;
			top: 4.3em;
			left: 1.4em;
			transform: rotate(45deg);
			animation: tipInPlace 300ms ease-in-out;
			animation-fill-mode: forwards;
			animation-delay: 180ms;
			visibility: hidden;
		}

		&__long {
			width: 4em;
			transform: rotate(-45deg);
			top: 3.7em;
			left: 2.75em;
			animation: longInPlace 140ms ease-in-out;
			animation-fill-mode: forwards;
			visibility: hidden;
			animation-delay: 300ms + 140ms;
		}
	}
}
.fd-error-preview {
	color: red;
	font-size: 12px;
}
.fd-alert {
	width: 100%;
	text-shadow: 0 1px 0 rgb(255, 255, 255);
	-webkit-box-shadow: inset 0 1px 0 rgb(255, 255, 255), 0 1px 2px rgb(0, 0, 0,);
	box-shadow: inset 0 1px 0 rgb(255, 255, 255), 0 1px 2px rgb(0, 0, 0);
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	&:empty {
		display: none;
	}
}
.fd-alert-danger {
	background-image: -webkit-linear-gradient(top,#f2dede 0,#e7c3c3 100%);
	background-image: -o-linear-gradient(top,#f2dede 0,#e7c3c3 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#f2dede),to(#e7c3c3));
	background-image: linear-gradient(to bottom,#f2dede 0,#e7c3c3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
	background-repeat: repeat-x;
	border-color: #dca7a7;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.fd-list {
	font-family: inherit;
	width: 80%;
	margin: 0 auto;
	border: 1px solid silver;
	width: 100%;
	padding: 15px;
	border-radius: 0px 0px 10px 10px;
	// box-shadow: 0 0 10px rgb(0 0 0 / 30%);
	position: relative;
	margin-bottom: 15px;
	.columns {
		position: relative;
		display: flex;
		margin-bottom: 20px;
	}
	.fd-list-column.fd-list-files-column {
		flex: 0.5;
		max-width: 345px;
		padding: 15px;
		// background-color: #373a3d;
		border-radius: 20px;
		.fd-list-file {
			padding: 15px;
			font-size: 16px;
			border-bottom: 1px solid grey;
			margin: 0px 0px 2px 0px;
			display: flex;
			&.selected {
				background: #e9e9e9;
			}
			.file-detail {
				flex: 0.9;
				&:hover {
					cursor: pointer;
				}
			}
			.action-delete {
				flex: 0.1;
				.button {
					font-weight: bold;
					font-size: 8px;
					padding: 0px;
					align-items: center;
					text-align: center;
					border-radius: 100%;
					border: 2px solid white;
					width: 17px;
					height: 16px;
					text-align: center;
					background: #bcbcbc;
					color: #464646;
				}
				&:hover {
					cursor: pointer;
				}
			}
		}
		.separator {
			list-style: none;
			margin: 8px;
			border-top: 1px solid #2b2e31;
			border-bottom: 1px solid #3d4043;
		}
	}
	.fd-list-files-column {
		.fd-list-file {
			.name {
				flex: 0.9;
				font-size: 16px;
				font-weight: bold;
				color: #595959;
				max-width: 250px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.size {
				font-weight: normal;
				font-style: normal;
				color: #7f7f7f;
				display: block;
			}
		}
	}
	.fd-edit-column {
		flex: 1;
		padding: 15px;
	}
	.form-group {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 0 20px;
		&:last-child {
			margin: 0;
		}
		label {
			display: block;
			margin: 0 0 10px;
			color: rgba(0, 0, 0, 0.6);
			font-size: 12px;
			font-weight: 500;
			line-height: 1;
			text-transform: uppercase;
			letter-spacing: inherit;
		}
		input {
			outline: none;
			display: block;
			background: rgba(0, 0, 0, 0.1);
			width: 100%;
			border: 0;
			border-radius: 4px;
			box-sizing: border-box;
			padding: 12px 20px;
			color: rgba(0, 0, 0, 0.6);
			font-family: inherit;
			font-size: inherit;
			font-weight: 500;
			line-height: inherit;
			transition: 0.3s ease;
			&:focus {
				color: rgba(0, 0, 0, 0.8);
			}
		}
		textarea {
			outline: none;
			display: block;
			background: rgba(0, 0, 0, 0.1);
			width: 100%;
			border: 0;
			border-radius: 4px;
			box-sizing: border-box;
			padding: 12px 20px;
			color: rgba(0, 0, 0, 0.6);
			font-family: inherit;
			font-size: inherit;
			font-weight: 500;
			line-height: inherit;
			transition: 0.3s ease;
		}
		button, input[type=submit] {
			background: var(--color-primary);
			width: 100%;
			border: 0;
            text-shadow: none;
			border-color: transparent;
			border-radius: 4px;
			padding: 12px 20px;
			color: #FFFFFF;
			font-family: inherit;
			font-size: inherit;
			font-weight: 500;
			line-height: inherit;
			text-transform: uppercase;
			cursor: pointer;
		}
	}
}

// The icon specifics
// Variables
$icon-base-size: 20px;

// Structure
.success-icon {
  display: inline-block;
  width: 8em;
  height: 8em;
  font-size: $icon-base-size;
  border-radius: 50%;
  border: 4px solid var(--color-secondary);
  background-color: #fff;
  position: relative;
  overflow: hidden;
  transform-origin: center;
  animation: showSuccess 180ms ease-in-out;
  transform: scale(0.5);
}

@keyframes showSuccess {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes tipInPlace {
  from {
    width: 0em;
    top: 0em;
    left: -1.6em;
  }
  to {
    width: 2.4em;
    top: 4.3em;
    left: 1.4em;
    visibility: visible;
  }
}

@keyframes longInPlace {
  from {
    width: 0em;
    top: 5.1em;
    left: 3.2em;
  }
  to {
    width: 4em;
    top: 3.7em;
    left: 2.75em;
    visibility: visible;
  }
}


.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 14px;
}
.lds-ellipsis div {
  position: absolute;
  top: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}