.folderViewContent--two-third {
  width: 100%;

  @include breakpoint($ipad) {
    width: 75%;
    padding: 0 32px;
  }
}

.folderView {
  padding: 16px;
}

.folderView__ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.folderView__li {
  border-bottom: 1px solid #efefef;
  cursor: pointer;
  color: #000;
  position: relative;
  height: 64px;
  overflow: visible;

  .folderView__copyOverlay__content & {
    height: 48px;
  }
}

.folderView__el {
  display: flex;
  height: 100%;
  max-width: 370px;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  padding: 8px 16px 8px 56px;
  overflow: visible;
  background: {
    repeat: no-repeat;
    position: 16px center;
    size: 24px auto;
  };

  .folderView__copyOverlay__content & {
    padding-left: 16px;
    justify-content: center;
  }
}

.folderView__label {
  pointer-events: none;
  padding: 10px;
}

.fv-is-selecteds {
  background-color: red;
  font-weight: bold;
}

.fv-is-selected {
  background-color: var(--color-1-100);
  font-weight: bold;
}

.fv-is-dropped {
  opacity: .4;
  border: 1px solid #ccc;
}

.folderView__actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  top: 8px;
  right: -100%;
  transition: all .5s ease-in-out;

  .fv-is-selected & {
    right: 0;
    transition: all .5s ease-in-out;
  }

  .sortable-chosen & {
    opacity: 0;
  }
}

.folderView__visibleActions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 56px;

  .fv-is-teacher-area & {
    display: none;
  }
}

.folderView__action,
.folderView__button {
  cursor: pointer;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--color-1-100);
  border: 1px solid #000;
  margin: 0 4px;
  transition: all .2s ease-in-out;
  background: {
    repeat: no-repeat;
    position: center;
    size: 18px;
  };

  &:hover {
    background-color: #ff6c00;
    border-color: #ff6c00;
    transition: all .2s ease-in-out;
  }
}

.folderView__status {
  width: 48px;
  height: 48px;
  margin: 0 4px;
  background: {
    repeat: no-repeat;
    position: center;
    size: 24px;
  };
}

.folderView__buttons {
  position: absolute;
  top: 8px;
  right: 0;
  opacity: 1;

  .fv-is-selected &,
  .sortable-chosen &,
  .fv-is-student-area & {
    opacity: 0;
  }
}

.fv-is-play {
  background-image: url('images/folderView/icon-eye.svg');
}

.fv-is-edit {
  background-image: url('images/folderView/icon-edit.svg');
}

.fv-is-copy {
  background-image: url('images/folderView/icon-copy.svg');
}

.fv-is-properties {
  background-image: url('images/folderView/icon-settings.svg');
}

.fv-is-access {
  background-image: url('images/folderView/icon-user.svg');
}

.fv-is-categorize {
  background-image: url('images/folderView/icon-categorize.svg');
}

.fv-is-delete {
  background-image: url('images/folderView/icon-delete.svg');
}

.fv-is-folder {
  background-image: url('images/folderView/icon-folder.svg');
}

.fv-is-faq {
  background-image: url('images/folderView/icon-faq.svg');
}

.fv-is-htmlpage {
  background-image: url('images/folderView/icon-document.svg');
}

.fv-is-link {
  background-image: url('images/folderView/icon-link.svg');
}

.fv-is-attachment {
  background-image: url('images/folderView/icon-attachment.svg');
}

.fv-is-test {
  background-image: url('images/folderView/icon-test.svg');
}

.fv-is-item {
  background-image: url('images/folderView/icon-item.svg');
}

.fv-is-glossary {
  background-image: url('images/folderView/icon-glossary.svg');
}

.fv-is-poll {
  background-image: url('images/folderView/icon-survey.svg');
}

.fv-is-menu-open {
  background-image: url('images/folderView/icon-horizontal-dots.svg');
}

.fv-is-menu-close {
  background-image: url('images/folderView/icon-vertical-dots.svg');
}

.fv-is-scormorg {
  background-image: url('images/folderView/icon-scorm.svg');
}

.fv-is-attempted,
.fv-is-incomplete,
.fv-is-not-attempted,
.fv-is-ab-initio {
  background-image: url('images/folderView/icon-attempted.svg');
}

.fv-is-completed,
.fv-is-passed {
  background-image: url('images/folderView/icon-completed.svg');
}

.fv-is-failed {
  background-image: url('images/folderView/icon-failed.svg');
}

.fv-is-tracking {
  background-image: url('images/folderView/icon-chart.svg');
}

.folderView__copyOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .9);
  z-index: 99999;
  justify-content: center;
  align-items: center;
  display: none;

  &.is-shown {
    display: flex;
  }
}

.folderView__copyOverlay__content {
  position: relative;
  width: 360px;
  padding: 32px 0 0 0;

  .dropdown-menu {
    width: 100%;
  }

  .btn.dropdown-toggle {
    display: block;
    width: 100%;
    background: none;
    padding: 12px;
    transition: .2 all ease-in-out;
    border: 1px solid #000;
    background-color: #fff;
    text-align: center;
  }
}

.folderView__copyOverlay__close {
  position: absolute;
  top: 0;
  right: 0;
  background: {
    image: url('images/folderView/icon-delete.svg');
    size: 18px 18px;
    color: transparent;
  };
  border: 0;
  padding: 0;
  width: 18px;
  height: 18px;
}

.folderView__copyOverlay__title {
  font-size: 16px;
  text-align: center;
  margin-right: auto;
  display: block;
  padding-bottom: 5px;
}

.fv-is-student-area {

  .fv-is-locked {
    opacity: .5;
    pointer-events: none;
    cursor: default;
    background: {
      image: url('images/folderView/icon-lock.svg');
      repeat: no-repeat;
      position: 97% center;
    };
  }

}


.actions-wrapper {
  overflow: hidden;
  width: fit-content;
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
  height: 64px;
}