
.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  align-items: center;
  justify-content: center;

  .modal-navbar {
    height: 75px;
    width: 100%;
    z-index: 2;
    padding: 10px 25px 10px 25px;
    .modal-title {
      float: left;
      max-width: 90%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      h1 {
        color: white;
        font-weight: bold;
      }
    }
    .modal-exit {
      float:right;
      &:hover {
        cursor: pointer;
      }
      #mdiv {
        border-radius: 50%;
        padding: 10px;
        border: 3px solid white;
        height: 52px;
        width: 52px;
      }
      
      .mdiv {
        height: 25px;
        width: 2px;
        margin-left: 12px;
        background-color: white;
        transform: rotate(45deg);
        Z-index: 1;
      }
      
      .md {
        height: 25px;
        width: 2px;
        background-color: #cccccc;
        transform: rotate(90deg);
        Z-index: 2;
      }
    }
  }

  &.open {
    visibility: visible;
    display: block;
    opacity: 1;
    transition-delay: 0s;
    z-index: 99999;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    background: #383838f0;
    right: 0;
  }
  &.in {
    visibility: visible;
    display: block;
    opacity: 1;
    transition-delay: 0s;
    z-index: 99999;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    background: #383838f0;
    right: 0;
  }
  &-bg {
    position: absolute;
    background: #383838f0;
    width: 100%;
    height: 100%;
  }
  &-container {
    border-radius: 10px;
    background: #fff;
    position: relative;
    padding: 15px;
  }
  &-close {
    position: absolute;
    right: 15px;
    top: 15px;
    outline: none;
    appearance: none;
    color: red;
    background: none;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
  }
  .modal-container {
    height: 80%;
    width: 60%;
    margin: 0 auto;
    .content-wrapper {
      height: 100%;
      width: 100%;
    }
  }
  &.scorm-modal {
    .title {
      h1 {
        font-size: 20px;
      }
    }
    .modal-navbar {
      height: 45px;
      #mdiv {
        padding: 5px;
        border: 2px solid white;
        height: 40px;
        width: 40px;
      }
    }
    .modal-container {
      width: 90%;
      height: 92%;
    }
  }
}


/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .modal .modal-container {
      width: 100%;
      height: 75%;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .modal .modal-container {
      width: 100%;
      height: 75%;
    }
}


