// Typography
//
// Reset and normalize typography
//
// Markup:
// <h1>Title h1</h1>
// <h2>Title h2</h2>
// <h3>Title h3</h3>
// <h4>Title h4</h4>
// <h5>Title h5</h5>
// <h6>Title h6</h6>
// <p>paragraph</p>
//
// Style guide: 1
h1,
h2,
h3,
h4,
h5,
h6,
p {
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
  font-family: $font;
}

// Page title
//
// Default page title
//
// Markup:
// <h1 class="page-title">Page title</h1>
//
// Style guide: 1.1
.page-title {
  font-weight: $extra-bold;
  font-size: 32px;
}

// Page paragraph
//
// Default page paragraph
//
// Markup:
// <p class="page-paragraph">Page paragraph</p>
//
// Style guide: 1.2
.page-paragraph {
  font-weight: $regular;
  font-size: 16px;
}

.box-title {
  color: var(--color-1-550);
  font-family: $font;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  padding-bottom: 6px;
  margin: 0 0 14px 0;
  border-bottom: 1px solid #eee;

  @include breakpoint($ipad) {
    font-size: 14px;
    margin-bottom: 11px;
  }
}

.box-title--modal {
  padding-bottom: 14px;
}

.page-subtitle {
  font-family: $font;
  font-size: 24px;
  color: var(--color-0-870);
  margin-bottom: 20px;
  margin-top: 20px;

  @include breakpoint($ipad) {
    font-size: 35px;
    margin-bottom: 13px;
    margin-top: 27px;
  }
}

.text--gray {
  color: var(--color-0-600)
}

.text--green {
  color: var(--color-6)
}

.text--orange {
  color: var(--color-1-550)
}

.text--red {
  color: var(--color-4)
}

