.tab-content {
    border: none;
    border-top: solid 2px #ddd;
    padding: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

table {
    table-layout: auto;
}

th, td {
    vertical-align: middle !important;
}

thead {
    font-weight: bold;
}

td > a {
    text-decoration: none;
    color: blue;
}

th > a,
td > a {
    cursor: pointer;
}

td > a:hover {
    font-weight: bold;
    color: blue;
}

tfoot.empty th,
tfoot.empty td {
    padding: 4px !important;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.transparent {
    background-color: transparent !important;
}

#overview td:not(.handle):not(.name):not(.actions) {
    width: 70px;
    text-align: center;
}

#overview td.handle {
    width: 30px;
    text-align: center;
    cursor: move;
    cursor: hand;
    cursor: -webkit-grab;
}

#overview .actions {
    width: 120px;
    text-align: center;
}

#overview .actions .fa {
    display: inline-block;
    margin: 0 4px;
    font-size: 20px;
    color: #444;
}

#overview .actions .fa:hover {
    color: #000;
}

#overview .fa-check {
    color: green;
}

#overview .fa-close {
    color: red;
}

#overview .table {
    margin: 0;
}

#details .has-subtable {
    padding: 0 !important;
}

#details .has-subtable .table {
    table-layout: fixed;
    margin: 0;
}

#details .has-subtable .table,
#details .has-subtable .table th,
#details .has-subtable .table td {
    border-top: none !important;
    border-bottom: none !important;
}

#details .table-striped > tbody > tr:nth-of-type(odd),
#details .table-striped > tbody > tr:nth-of-type(odd) .has-subtable tr {
    background-color: #fcfcfc;
}

#details .activities-nav--prev {
    float: left;
}

#details .activities-nav--next {
    float: right;
}

#details .name,
#details .email {
    width: 200px;
}

#details .total {
    width: 50px;
}

#details .fa-check {
    color: green;
}

/*
* overview.html.twig
*/

.button--add {

    width: 190px;
    position: relative;

    background-color: #8baa18;
    outline: none;
    cursor: pointer;
    padding: 5px 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    text-transform: uppercase;
    color: #FFF;
}

.button--add span {
    padding: 0 10px;
}

.button--add:after {

    content: '\f107';

    position: absolute;
    top: 0;
    right: 12px;
    height: 26px;
    padding-left: 10px;
    padding-top: 3px;
    border-left: 1px solid #FFF;

    font-family: 'FontAwesome';
    font-size: 18px;
}

.button--add.active:after {

    content: '\f106';
}

.button--add .dropdown {

    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #8baa18;
    margin: 0;
    margin-top: 5px;
    padding: 0 10px;
    height: 0;

    opacity: 0;
    pointer-events: none;

}

.button--add.active .dropdown  {

    position: relative;

    padding: 0;
    list-style: none;
    opacity: 1;
    pointer-events: auto;
    padding-bottom: 0;
    height: auto;

    -webkit-transition: all .2s ease-in 0s;
    -moz-transition: all .2s ease-in 0s;
    -ms-transition: all .2s ease-in 0s;
    -o-transition: all .2s ease-in 0s;
    transition: all .2s ease-in 0s;
}

.button--add .dropdown li a {

    display: block;
    text-decoration: none;
    color: #FFF;
    padding: 5px 10px;
}

.button--add .dropdown li:first-child {

    padding-top: 5px;
    border-top: 1px solid white;
}

.button--add .dropdown li a:hover {

    background-color: #FFF;
    color: #8baa18;
}

.activities-container {
    display: none;
}

/*
* details.htmk.twig
*/


.filter-container {

    width: 100%;
    height: 55px;
    margin-bottom: 25px;
    position: relative;

    background-color: #F5F5F5;
}

.filter-container .filter,
.table-responsive .filter,
.table-activities .filter {

    width: 150px;
    height: 34px;
    position: absolute;
    left: 10px;
    top: 10px;

    background-color: #FFF;
}

.table-responsive .filter {

    position: relative;
    left: 0;
    top: 0;
    width: 185px;
}

.table-activities .filter {

    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
}

.table-activities .filter-activites {

    padding: 0;
}

.filter-container .button--exportcsv {

    width: 100px;
    position: absolute;
    right: 10px;
    top: 15px;
    padding: 5px 0px;

    color: white;
    border-radius: 3px;
    background-color: #aaa;

    text-align: center;
}

.loading {

    text-align: center;
    font-size: 18px;
}

.is-disabled {
    opacity: .4;
    pointer-events: none;
}

.final-buttons-container {
    display: inline-block;
}

.pagination {
    text-align: center;
    line-height:  30px;
    max-width: 75%;
    margin: 0 auto;
    border-radius:  0;
    display:  block;
}

.pagination a {
    margin: 0 10px;
    font-size: 16px;
    text-decoration: underline;
}

.pagination a.is-active {
    font-size: 20px;
    color: #C84000;
}

.navbar--coursereport {
    margin-top: 20px;
}


#details .student__test-result,
#details .activity-name {

    min-width: 75px!important;
}

#details .table {
    min-width: 100%;
    width: auto;
    max-width: none;
}

#table-overview tbody td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}

#table-overview tbody tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}

#table-overview table.extra-info {
    padding-left: 50px;
}

table.table-bordered.dataTable tbody td {
    word-break: break-all;
}

.pagination__initial {
    display: none;
}

#table-overview tbody td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}

#table-overview tbody tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}

#table-overview table.extra-info {
    padding-left: 50px;
}