{% extends "Base/base.html.twig" %}

{% block content %}
  {#welcome#}
  {# <pre>
    {{ dump(block) }}
  </pre> #}

  <div class="d-col d-col--12 d-col--8--desktop">
    <div class="d-banner">
      <img src="/templates/standard/static/images/banner.png" alt="" class="d-banner__img">
    </div>
  </div>
{% endblock %}