{% extends "Base/base.html.twig" %}

{% block content %}
  {#welcome#}
  {#{{ dump(block) }}#}

  <div class="d-col d-col--12 d-col--8--desktop">
    <div class="d-banner">
      <h2 class="d-banner__text">WELCOME</h2>
      <img src="https://via.placeholder.com/850x147" alt="" class="d-banner__img">
    </div>
  </div>
{% endblock %}