{% extends "base/base.html.twig" %}

{% block content %}

    {% if (block.type == '4-col') %}
        {% set class =  ' d-col--12--desktop' %}
    {% elseif (block.type == '3-col') %}
        {% set class =  ' d-col--9--desktop' %}
    {% elseif (block.type == '2-col') %}
        {% set class =  ' d-col--6--desktop' %}
    {% elseif (block.type == '1-col') %}
        {% set class =  ' d-col--3--desktop' %}
    {% endif %}
    <div class="middlearea_container d-col d-col--12 {{ class }}">
        <p>{{ block.msg | raw }}</p>
    </div>

{% endblock %}