<div class="homepage__row homepage__row--gray">
    <div><i class="fa fa-check"></i></div>
    <p>
        {{ message }}
    </p>
    <br/><br/>
</div>
<div class="homepage__row row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <br/>
        <a class="forma-button forma-button--orange" href="{{ loginAction }}" style="margin-bottom: 10px;">{{ evalPhp('Lang::t', ['_GO_TO_HOME', 'standard']) }}</a>
    </div>
</div>