<div class="homepage__row homepage__row--gray">
	<div><i class="fa fa-check"></i></div>
	<p>
		<strong>Grazie</strong> per aver richiesto l'iscrizione alla nostra community<br/>
		Ti è stata inviata una email con i tuoi dati di registrazione.
	</p>
	<br/><br/>
</div>
<div class="homepage__row row">
	<div class="col-xs-12 col-sm-6 col-sm-offset-3">
		<br/>
		<p>Hai riscontrato qualche problema? <a href="#"><strong>Contattaci</strong></a></p>
		<a class="forma-button forma-button--orange" href="#">Vai alla Homepage</a>
	</div>
</div>
<div class="homepage__row homepage__row--social">
	<ul>
		<li><a href="#" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
		<li><a href="#" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
		<li><a href="#" target="_blank"><i class="fa fa-google-plus-square"></i></a></li>
		<li><a href="#" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
	</ul>
</div>