<div class="homepage__row homepage__row--gray homepage__back">
	<a href="{{ evalPhp('Get::rel_path', ['base']) }}/index.php">
		<span class="fa fa-chevron-left"></span> {{ evalPhp('Lang::t', ['_BACK', 'standard']) }}
	</a>
</div>
<div class="homepage__row homepage__row--gray">
	<p>Questi campi sono associati ai gruppi scelti</p>
</div>
<form class="homepage__form">
	<div class="homepage__row homepage__row--form homepage__row--gray row-fluid">
		<div class="col-xs-12 col-sm-6">
			<input class="form-control" type="text" placeholder="Test">
		</div>
	</div>
	<div class="homepage__row homepage__row--form homepage__row--gray row-fluid">
		<div class="col-xs-12 col-sm-6">
			<input class="form-control" type="text" placeholder="Genere">
		</div>
	</div>
	<div class="homepage__row homepage__row--form homepage__row--gray row-fluid">
		<div class="col-xs-12 col-sm-6">
			<input class="form-control" type="text" placeholder="Luogo di nascita*">
		</div>
	</div>
	<div class="homepage__row homepage__row--form homepage__row--gray row-fluid">
		<div class="forma-custom-file-input col-xs-12 col-sm-6">
			<input class="form-control" type="file" placeholder="Carica file (max 100Mb)">
		</div>
	</div>
	<div class="homepage__row row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<button type="submit" class="forma-button forma-button--black">Registrati</button>
		</div>
	</div>
	<div class="homepage__row homepage__links">
		<a href="#"><em>Effettua il LOGIN</em></a>
	</div>
</form>