<header class="homepage__wrapper homepage__wrapper--header">
	<a href="index.php">
		<img class="left_logo" src="{{ evalPhp('Layout::path') }}images/company_logo.png" alt="Left logo" />
	</a>

	<a class="forma-button forma-button--orange pull-right" href="#" style="width:239px;">CATALOGO CORSI</a>
</header>

<main>
	<div class="homepage__wrapper homepage__wrapper--gray">
		<div><i class="fa fa-check"></i></div>
		<p>
			<strong>Grazie</strong> per aver richiesto l'iscrizione alla nostra community<br/>
			Ti è stata inviata una email con i tuoi dati di registrazione.
		</p>
		<br/><br/>
	</div>
	<div class="homepage__wrapper row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<br/>
			<p>Hai riscontrato qualche problema? <a href="#"><strong>Contattaci</strong></a></p>
			<a class="forma-button forma-button--orange" href="#">Vai alla Homepage</a>
		</div>
	</div>
	<div class="homepage__social">
		<ul>
			<li><a href="#" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-google-plus-square"></i></a></li>
			<li><a href="#" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
		</ul>
	</div>
</main>

<footer class="homepage__wrapper homepage__wrapper--footer">
	<nav class="homepage__links">
		<a href="#">Lorem ipsum #1</a>
		<a href="#">Lorem ipsum #2</a>
	</nav>
</footer>