{{ form|raw }}
<div class="homepage__row homepage__row--footer">
    <nav class="homepage__links">
        {% if externalPages is defined %}
            {% for externalPage in externalPages %}
                <a href="{{ externalPage.link }}">{{ externalPage.title }}</a>
            {% endfor %}
        {% endif %}
    </nav>
</div>