<div class="row">
    <div class="col-md-12">
        <h1 class="page-header col-xs-12"><strong>{{ title }}</strong></h1>
        <div class="clearfix row">
            {{ content|raw }}
        </div>
    </div>
</div>