@import '../../node_modules/breakpoint-sass/stylesheets/breakpoint';
@import '../../node_modules/slick-carousel/slick/slick.scss';
@import '../../node_modules/@fullcalendar/core/main';
@import '../../node_modules/@fullcalendar/daygrid/main';

//@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets.scss';
//@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap.scss';

@import 'config/config';
@import 'font-awesome/font-awesome';

//UTILS
@import 'utils/fonts';
@import 'utils/helpers';
@import 'utils/icons';
@import 'utils/grid';
@import 'utils/colors';

//COMPONENTS
@import 'components/router';
@import 'components/typography';
@import 'components/buttons';
@import 'components/inputs';
@import 'components/carousel';
@import 'components/forma-tooltip';
@import 'components/tabnav';
@import 'components/accordion';
@import 'components/icons';
@import 'components/modal';
@import 'components/dashboard/main';
@import 'components/show-all-dates';

//MODULES
@import 'modules/layout';
@import 'modules/course-box';
@import 'modules/section-course';
@import 'modules/fake-grid';
@import 'modules/tab-menu';
@import 'modules/footer';
@import 'modules/form';
@import 'modules/top-menu';
@import 'modules/user-panel';
@import 'modules/social-login';
@import 'modules/select-language';
@import 'modules/aside';
@import 'modules/folder-view';
@import 'modules/course-objects';
@import 'modules/section-course';
@import 'modules/slider-menu';
@import 'modules/course-info';
@import 'modules/filterbar';

//PAGES
@import 'pages/homepage';
@import 'pages/user-profile';