<style>
    .tab-content {
        border: none;
        border-top: solid 2px #ddd;
        padding: 5px;
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
            -ms-box-shadow: none;
             -o-box-shadow: none;
                box-shadow: none;
    }

    table {
        table-layout: auto;
    }

    th, td {
        vertical-align: middle !important;
    }

    thead {
        font-weight: bold;
    }

    td > a {
        text-decoration: none;
        color: blue;
    }

    th > a,
    td > a {
        cursor: pointer;
    }

    td > a:hover {
        font-weight: bold;
        color: blue;
    }

    tfoot.empty th,
    tfoot.empty td {
        padding: 4px !important;
    }

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .transparent {
        background-color: transparent !important;
    }

    #overview td:not(.handle):not(.name):not(.actions) {
        width: 70px;
        text-align: center;
    }

    #overview td.handle {
        width: 30px;
        text-align: center;
        cursor: move;
        cursor: hand;
        cursor: -webkit-grab;
    }

    #overview .actions {
        width: 120px;
        text-align: center;
    }

    #overview .actions .fa {
        display: inline-block;
        margin: 0 4px;
        font-size: 20px;
        color: #444;
    }

    #overview .actions .fa:hover {
        color: #000;
    }

    #overview .fa-check {
        color: green;
    }

    #overview .fa-close {
        color: red;
    }

    #details .has-subtable {
        padding: 0 !important;
    }

    #details .has-subtable .table {
        table-layout: fixed;
        margin: 0;
    }

    #details .has-subtable .table,
    #details .has-subtable .table th,
    #details .has-subtable .table td {
        border-top: none !important;
        border-bottom: none !important;
    }

    #details .table-striped > tbody > tr:nth-of-type(odd),
    #details .table-striped > tbody > tr:nth-of-type(odd) .has-subtable tr {
        background-color: #fcfcfc;
    }

    #details .activities-nav--prev {
        float: left;
    }

    #details .activities-nav--next {
        float: right;
    }

    #details .name,
    #details .email {
        width: 200px;
    }

    #details .total {
        width: 50px;
    }

    #details .fa-check {
        color: green;
    }
</style>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#overview">Overview</a></li>
    <li><a data-toggle="tab" href="#details" class="js-details">Details</a></li>
</ul>

<div class="tab-content">
    <div id="overview" class="tab-pane active">
        {% include 'overview.html.twig' %}
    </div>
    <div id="details" class="tab-pane">
        {% include 'details.html.twig' %}
    </div>
</div>

<script type="text/javascript">

  var _users;
  var _data = {'courseID':'id'};

  var _loadingSnippet = 'Loading...';

  var $details = $('.js-details');

  var fakeData = {
    "students": [
      {
        "userId": "1",
        "firstName": "nome 1",
        "lastName": "cognome 1",
        "email": "email 1",
        "registerDate": "data registrazione 1",
        "lastEnter": "ultimo login 1"
      },
      {
        "userId": "2",
        "firstName": "nome 2",
        "lastName": "cognome 2",
        "email": "email 2",
        "registerDate": "data registrazione 2",
        "lastEnter": "ultimo login 2"
      }
    ],
    "tests": [
      {
        "testId": "1",
        "testName": "test a"
      },
      {
        "testId": "2",
        "testName": "test b"
      },
      {
        "testId": "3",
        "testName": "test c"
      },
      {
        "testId": "4",
        "testName": "test d"
      }
    ],
    "results": [
      {
        "testId": "1",
        "grades": [
          {
            "userId": "user 1",
            "grade": "80"
          },
          {
            "userId": "user 2",
            "grade": "80"
          }
        ]
      },
      {
        "testId": "2",
        "grades": [
          {
            "userId": "user 1",
            "grade": "80"
          },
          {
            "userId": "user 2",
            "grade": "80"
          }
        ]
      },
      {
        "testId": "3",
        "grades": [
          {
            "userId": "user 1",
            "grade": "80"
          },
          {
            "userId": "user 2",
            "grade": "80"
          }
        ]
      },
      {
        "testId": "4",
        "grades": [
          {
            "userId": "user 1",
            "grade": "80"
          },
          {
            "userId": "user 2",
            "grade": "80"
          }
        ]
      }
    ]
  };

  $details.on('click', function () {

    $.ajax({

      type: 'post',
      url: '../controllers/CourseReportLmsController.php',
      data: _data,
      beforeSend: function () {
        $('.loading').html(_loadingSnippet);
      },
      success: function(data) {

        _users = data.students;

//        $('.table-activities__row').empty();
//
//        for (var i = 0; i < 4; i++) {
//
//          $.each(data.tests, function(i, item) {
//            alert(data.tests[i].PageName);
//          });​
//        }

      },
      error: function() {
        $('.loading').html('Something went very wrong');

        $('.table-activities__row').empty();

        for (var i = 0; i < 4; i++) { //popolo le select dei test

          var _select = '<th class="text-center filter-activites"><select class="filter">';

          $.each(fakeData.tests, function(i) {

              _select += '<option value="' + fakeData.tests[i].testId + '">' + fakeData.tests[i].testName + '</option>';
          });

          _select += '</select></th>';

          $('.table-activities__row').append(_select);
        }
      }
    });
  });


</script>