<div class="page-header">
    <h1>{{ translate('_COURSEREPORT','menu_course') }}</h1>
</div>

<ul class="nav nav-tabs navbar--coursereport">
    <li class="active"><a data-toggle="tab" href="#overview">{{ translate('_OVERVIEW','coursereport') }}</a></li>
    <li><a data-toggle="tab" href="#details" class="js-details">{{ translate('_DETAILS','coursereport') }}</a></li>
</ul>

<div class="tab-content">
    <div id="overview" class="tab-pane active">
        {% include 'overview.html.twig' %}
    </div>
    <div id="details" class="tab-pane">
        {% include 'details.html.twig' %}
    </div>
</div>