<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#overview">Overview</a></li>
    <li><a data-toggle="tab" href="#details" class="js-details">Details</a></li>
</ul>

<div class="tab-content">
    <div id="overview" class="tab-pane active">
        {% include 'overview.html.twig' %}
    </div>
    <div id="details" class="tab-pane">
        {% include 'details.html.twig' %}
    </div>
</div>