<div class="filter-container">
  <select class="filter">
    <option value="" disabled selected hidden>Filter</option>
  </select>

  <div class="button--exportcsv"><a href="index.php?modname=coursereport&op=export&type_filter=">EXPORT CSV</a></div>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th colspan="2" class="transparent"></th>
                <th colspan="4" class="text-center">
                    {#<a class="activities-nav activities-nav--prev js-prev-activities"><i class="fa fa-chevron-left"></i></a>#}
                    ACTIVITIES
                    {#<a class="activities-nav activities-nav--next js-next-activities"><i class="fa fa-chevron-right"></i></a>#}
                </th>
                <th class="transparent"></th>
            </tr>
            <tr>
                <th>User</th>
                <th>
                  <select class="filter js-user-detail-filter">
                    <option value="firstname">First Name</option>
                    <option value="lastname">Last Name</option>
                    <option value="email" selected>Email</option>
                    <option value="register_date">Register Date</option>
                    <option value="lastenter">Last Enter</option>
                  </select>
                </th>

                <th>
                  <select class="filter js-test-filter" data-test="0">
                    <option value="">-</option>
                  </select>
                </th>
                <th>
                  <select class="filter js-test-filter" data-test="1">
                    <option value="">-</option>
                  </select>
                </th>
                <th>
                  <select class="filter js-test-filter" data-test="2">
                    <option value="">-</option>
                  </select>
                </th>
                <th>
                  <select class="filter js-test-filter" data-test="3">
                    <option value="">-</option>
                  </select>
                </th>

                <th class="text-center">Final</th>
            </tr>
        </thead>
        <tbody class="js-details-table">
        {#{% for student in details['students'] %}#}
            {#<tr>#}
                {#<td class="name">{{ student.name }}</td>#}
                {#<td class="email">{{ student.email }}</td>#}
                {#<td class="has-subtable">#}
                    {#<table class="table table-bordered">#}
                        {#<thead>#}
                        {#<tr>#}
                        {#{% for result in student['activities_results'] %}#}
                            {#{% if result == 'true' %}#}
                            {#<td class="text-center"><i class="fa fa-check"></i></td>#}
                            {#{% elseif result == 'false' %}#}
                            {#<td class="text-center">-</td>#}
                            {#{% else %}#}
                            {#<td class="text-center">{{ result }}</td>#}
                            {#{% endif %}#}
                        {#{% endfor %}#}
                        {#</tr>#}
                        {#</thead>#}
                    {#</table>#}
                {#</td>#}
                {#<td class="total text-center">{{ student.total_result }}</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        </tbody>
        <tfoot class="empty">
            <th colspan="7" class="loading"></th>
        </tfoot>
    </table>
</div>

