<div class="page-header">
  <h1>
    <a href="index.php?r=lms/coursereport/coursereport">Registro valutazioni</a>
  </h1>
  <ul class="breadcrumb">
    <li>test 1</li>
  </ul>
</div>

<div class="std_block">

  <div class="table-responsive">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">Statistiche per la domanda "la risposta corretta è si"</div>
      <table class="table table-bordered table-view " summary="" cellspacing="0">
        <thead>
        <tr class="even intest">
          <th>
            <div class="">
              <span class="">Risposta</span>
            </div>
          </th>
          <th class="image nowrap">
            <div class=""><span class="">Percentuale</span></div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr class="even odd">
          <td>
            <div class="">
              <p>
                <img src="../templates/standard/images/standard/publish.png" alt="Risposta corretta" title="Risposta corretta" align="left">
                si
              </p>
            </div>
          </td>
          <td class="image nowrap">
            <div class="">
              <div class="progress_bar">
                <div class="bar_text">
                  75.00%
                </div>
                <div class="bar_fill" style="width:75.00%;">&nbsp;
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr class="odd ">
          <td>
            <div class="">
              <p>
                no
              </p>
            </div>
          </td>
          <td class="image nowrap">
            <div class="">
              <div class="progress_bar">
                <div class="bar_text">
                  25.00%
                </div>
                <div class="bar_fill" style="width:25.00%;">&nbsp;
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr class="even odd">
          <td>
            <div class="">
              <p>
                Nessuna risposta
              </p>
            </div>
          </td>
          <td class="image nowrap">
            <div class="">
              <div class="progress_bar">
                <div class="bar_text">
                  0.00%
                </div>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>

  <div class="table-responsive">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">Statistiche per la domanda "la risposta corretta è si"</div>
      <table class="table table-bordered table-view " summary="" cellspacing="0">
        <thead>
        <tr class="even intest">
          <th>
            <div class="">
              <span class="">Risposta</span>
            </div>
          </th>
          <th class="image nowrap">
            <div class=""><span class="">Percentuale</span></div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr class="even odd">
          <td>
            <div class="">
              <p>
                <img src="../templates/standard/images/standard/publish.png" alt="Risposta corretta" title="Risposta corretta" align="left">
                si
              </p>
            </div>
          </td>
          <td class="image nowrap">
            <div class="">
              <div class="progress_bar">
                <div class="bar_text">
                  75.00%
                </div>
                <div class="bar_fill" style="width:75.00%;">&nbsp;
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr class="odd ">
          <td>
            <div class="">
              <p>
                no
              </p>
            </div>
          </td>
          <td class="image nowrap">
            <div class="">
              <div class="progress_bar">
                <div class="bar_text">
                  25.00%
                </div>
                <div class="bar_fill" style="width:25.00%;">&nbsp;
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr class="even odd">
          <td>
            <div class="">
              <p>
                Nessuna risposta
              </p>
            </div>
          </td>
          <td class="image nowrap">
            <div class="">
              <div class="progress_bar">
                <div class="bar_text">
                  0.00%
                </div>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>

</div>