


<div class="col-lg-12">
    <div class="row nav nav-pills">
         <div class="alert alert-danger" role="alert">
            <b>{{ Lang_translate('_SMTP_CONFIG_DISABLED') }}</b>
        </div>
        </div>
    </div>
</div>