/*
DOCEBO - The E-Learning Suite
http://www.docebo.com
license: http://www.gnu.org/licenses/old-licenses/gpl-2.0.txt
*/

#header, div.layout_header{display:none; }
#menu_over{display:none; }
#menu{display:none; }
#footer{display:none; }
.container-back{display:none; }
.print{display:none; }
#content{width:100%;border:0px none;margin:0;}