 {% include '/partials/testbutton.html.twig' %}
<div id="progress">
  <div class="progress-bar"></div>
</div>
<span id="loading" style="display:none;">{{loadingLabel}}</span>
<textarea disabled class="debug"></textarea>
<span id="success" style="display:none;">{{successLabel}}</span>
<span id="failure" style="display:none;">{{errorLabel}}</span>
<div id="finalButtons" class="wizard" style="display:none;">
  <div class="actions clearfix">
    <ul>
      <li class="unlisted"><a href="/">{{goToLogin}}</a></li>
    <ul>
  </div>
</div>

