:root {

  // Statics
  --color-0: hsla(0, 0%, 40%, 1.0);
  --color-transparent: transparent;
  --color-white: hsla(0, 0%, 100%, 1.0);
  --color-grey: hsla(0, 0%, 93%, 1.0);
  --color-grey-02: hsla(0, 0%, 95%, 0.2);
  --color-grey-03: hsla(0, 0%, 60%, 1.0);
  --color-grey-04: hsla(0, 0%, 25%, 1.0);
  --color-black: hsla(0, 0%, 0%, 1.0);
  --color-disabled: hsla(0, 1%, 87%, 1); // FISSO
  --color-disabled-text: hsla(0, 1%, 68%, 1); // FISSO

  // Dynamics
  --color-navbtn-bg: hsla(27, 96%, 80%, 1.0);
  --color-navbtn-text: hsla(0, 0%, 100%, 1.0); // calcolato automaticamente questo dovrebbe essere uno dei due colori calcolati (di default grigio scuro)
  --color-navbtn-bg-inter: hsla(27, 96%, 47%, 1.0);
  --color-navbtn-text-inter: hsla(0, 0%, 100%, 1.0);

  --color-wrapper-bg: var(--color-grey); // rgb(242, 242, 242)
  --color-wrapper-text: hsla(0, 0%, 24%, 1); // automatico
  --color-wrapper-text-50: hsla(0, 0%, 18%, 0.057); // calcolato automaticamente, è una variante luminosità di --color-wrapper-text

  --color-icon-bg:hsla(27, 96%, 80%, 1.0);
  --color-icon-text: hsla(0, 0%, 20%, 1.0); // calcolato automaticamente

  --color-heading: hsla(0, 0%, 20%, 1.0); // calcolato automaticamente

  --color-primary: hsla(10, 81%, 51%, 1.0);
  --color-primary-text: hsla(0, 0%, 100%, 1.0); // automatico
  --color-secondary: hsla(27, 96%, 47%, 1.0);
  --color-secondary-text: hsla(0, 0%, 100%, 1.0); // automatico
  --color-info: hsla(196, 62%, 53%, 1.0);
  --color-info-text: hsla(0, 0%, 16.5%, 1.0);// automatico
  --color-warning: hsla(0, 0%, 16.5%, 1.0);
  --color-warning-text: hsla(37, 90.7%, 57.6); // automatico
  --color-error: 	hsla(10, 81%, 51%, 1.0);
  --color-error-text: hsla(0, 0%, 100%, 1.0); // automatico
  --color-success: hsla(130, 81%, 51%, 1.0);
  --color-success-text: hsla(0, 0%, 100%, 1.0); // automatico
  --color-action-button: 	hsla(73, 56%, 56%, 1.0);
  --color-action-button-text: hsla(0, 0%, 100%, 1.0); // automatico
}