Options -Indexes
#no need to follow symbolic links in standard configuration
#Options +FollowSymLinks
DirectoryIndex index.php index.html index.htm

<Files favicon.ico>
        ErrorDocument 404 "The requested file favicon.ico was not found.
</Files>

<IfModule mod_rewrite.c>
        RewriteEngine on

        # hide directories that starts with a . (dot)
        RewriteRule "(^|/)\.(?!htaccess)" - [F]

        # Redirect to the www version of the site
        #RewriteCond %{HTTP_HOST} !^www\. [NC]
        #RewriteRule ^ http://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

<FilesMatch "\.(htpasswd|ini|php|fla|psd|log|sh)$">
        Order Allow,Deny
        Deny from all
</FilesMatch>

<FilesMatch "(composer\.(json|lock))$">
        Order Allow,Deny
        Deny from all
</FilesMatch>

<FilesMatch "((?i:readme)\.(?i:txt|md)|(?i:README))$">
        Order Allow,Deny
        Deny from all
</FilesMatch>

<FilesMatch "(index\.php|ajax\..*\.php|paypal\.php|cron\.php|tasks\.php|tinymce\.gzip\.php|index_tiny\.php|scormXmlTree\.php|soaplms\.php|scorm_page_body\.php|keep_alive\.php|text\.php|users\.php|write\.php|check\.php)$">
        Order Allow,Deny
        Allow from all
</FilesMatch>
