 <table id='test'>
  <thead>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </thead>
  <tbody>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
   </tbody>
</table> 

<script>


$(document).ready(function() {

const DTable = new window.frontend.modules.FormaTable('#test', {});
console.log(DTable);
    
});
</script>