// Buttons
//
// Site buttons
//
// Style guide: 2

// Button default
//
// Markup:
// <a class="forma-button" href="#">
//  <span class="forma-button__label">button</span>
// </a>
//
// Style guide: 2.1
.forma-button {
  display: inline-block;
  width: 100%;
  //padding: 0 10px;
  padding: 14px 20px;
  min-height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 12px;
  color: $white;
  background-color: $dark-orange;
  font-family: $font;
  font-size: 11px;
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  transition: background-color 0.4s ease 0s;

  @include breakpoint($tablet) {
    font-size: 11px;
  }

  @include breakpoint($desktop) {
    font-size: 13px;
  }

  &:hover {
    text-decoration: none;
    color: $white;
  }

  .user-panel & {
    height: auto;
    line-height: 1;
    font-size: 12px;
  }

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
  }

  &.thin {

  }
}

// Button orange:hover
//
// Markup:
// <a class="forma-button forma-button--orange-hover" href="#">
//  <span class="forma-button__label">button</span>
// </a>
//
// Style guide: 2.1.1
.forma-button--orange-hover {
  &:hover {
    background-color: $orange;
    color: $white;
  }
}

// Button disabled
//
// Markup:
// <a class="forma-button forma-button--disabled" href="#">
//  <span class="forma-button__label">button</span>
// </a>
//
// Style guide: 2.2
.forma-button--disabled {
  pointer-events: none;
  background-color: $white;
  border: 2px solid $gray-3;
  color: $gray-3;
  
  .forma-button__label {
    &:before {
      content: '\f023';
      font-family: $icon;
      color: $gray-2;
      padding-right: 5px;
    }

    &:after {
      display: none;
    }
  }
}

// Green Button
//
// Markup:
// <a class="forma-button forma-button--green" href="#">
//  <span class="forma-button__label">button</span>
// </a>
//
// Style guide: 2.3
.forma-button--green {
  background-color: $green;
}

// Gray Button
//
// Markup:
// <a class="forma-button forma-button--gray" href="#">
//  <span class="forma-button__label">button</span>
// </a>
//
// Style guide: 2.4
.forma-button--gray {
  pointer-events: none;
  background-color: $gray-3;
}

// Black Button
//
// Markup:
// <a class="forma-button forma-button--black" href="#">
//  <span class="forma-button__label">button</span>
// </a>
//
// Style guide: 2.5
.forma-button--black {
  background-color: $black;

  .forma-button__label {
    &:after {
      display: none;
    }
  }

  .user-panel & {
    padding: 7px 9px;
    border: 0;
  }
}

// White Button
//
// Markup:
// <a class="forma-button forma-button--white" href="#">
//  <span class="forma-button__label">button</span>
// </a>
//
// Style guide: 2.7
.forma-button--white {
  background-color: $white;
  color: $dark-orange;

  &:hover {
	color: $dark-orange;
  }
}

// Bordered Button
//
// Markup:
// <a class="forma-button forma-button--border" href="#">
//  <span class="forma-button__label">button</span>
// </a>
//
// Style guide: 2.7
.forma-button--border {
  border: solid 2px $dark-orange;
}

// Orange bordered Button
//
// Markup:
// <a class="forma-button forma-button--white" href="#">
//  <span class="forma-button__label">button</span>
// </a>
//
// Style guide: 2.8
.forma-button--orange {
  border: solid 2px $orange;
  background-color: $white;
  color: $orange;

  &:hover {
	background-color: $orange;
	color: $white;
  }
}

.forma-button__label {
  position: relative;
  display: inline-block;
  color: inherit;
  font: inherit;
  text-decoration: inherit;

  &:after {
    content: '\f101';
    font-family: $icon;
    font-size: inherit;
    color: rgba(255, 255, 255, 0.7);
    margin-left: 6px;
  }
}

/* NEW TEST */

input[type='submit'].btn.btn-default {

  .user-panel & {
    font-family: $font;
    background-color: $anthracite-light;
    text-transform: uppercase;
    color: $white;
    background-image: none;
    border: 0;
    border-radius: 5px!important;
    font-size: 12px;
    line-height: 25px;
    height: 25px;
    text-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
  }
}

a.btn.btn-default {

  .user-panel .row & {
    width: 100%;
    display: inline-block;
    background-image: none;
    line-height: 25px;
    height: 25px;
    padding-top: 0;
    padding-bottom: 0;
    font-family: $font;
    text-transform: uppercase;
    font-size: 12px;
    background-color: $black;
    text-shadow: none;
    color: $white;
    border: 0;
    border-radius: 5px;

    &:hover {
      background-color: $black;
      color: $white;
    }
  }
}