// Buttons
//
// Site buttons
//
// Style guide: 2

// Button default
//
// Markup:
// <a class="button" href="#">
//  <span class="button__label">button</span>
// </a>
//
// Style guide: 2.1
.button {
  display: inline-block;
  width: 100%;
  height: auto;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  padding: 12px 14px 12px;
  background-color: $dark-orange;
  font-family: $font;
  font-size: 12px;
  border-radius: 5px;
  box-shadow: none;
  cursor: pointer;
  transition: background-color 0.4s ease 0s;

  // Button default:hover
  //
  // Markup:
  // <a class="button" href="#">
  //  <span class="button__label">button</span>
  // </a>
  //
  // Style guide: 2.1.1
  &:hover {
    background-color: $orange;
    color: $white;
  }

  @include breakpoint($tablet) {
    min-height: 40px;
  }
}

// Button disabled
//
// Markup:
// <a class="button button--disabled" href="#">
//  <span class="button__label">button</span>
// </a>
//
// Style guide: 2.2
.button--disabled {
  pointer-events: none;
  background-color: $gray-3;
}

.button__label {
  position: relative;
  display: inline-block;
  color: inherit;
  font: inherit;
  text-decoration: inherit;

  &:after {
    content: '\f101';
    font-family: $icon;
    font-size: inherit;
    padding-left: 5px;
    color: rgba(255, 255, 255, 0.7);
  }
}