<div class="folderTree__rename">
    <input type="text" value="" class="folderTree__rename__input"
            onfocus="this.value = null; this.value = value"
            onkeypress="return !(window.event && window.event.keyCode == 13);"/>
    <button class="folderTree__rename__btn js-ft-rename-el" type="button"></button>
</div>