<div>
    <h1>Test page</h1>

    <div>

        <select class="js-customselect">
            <option value="null">seleziona</option>
            <option value="0">zero</option>
            <option value="1">uno</option>
            <option value="2">due</option>
        </select>

        <br/>

        <input type="text">

    </div>

    <div>
        <a href="index">PAGINA INDEX</a>
        <br/>
        <br/>
        <a href="example">PAGINA EXAMPLE</a>
    </div>

    <section class="js-router--home">
        <p>content index page</p>
    </section>

    <section class="js-router--example">
        <p>content example page</p>
    </section>

</div>

<script type='text/javascript'>
    startCucumberRun({tags: ['@pushstate-change']});
</script>