<li class="green_menu">
    <a href="{% if email %}#inline{% else %}#inline_no_help{% endif %}" class="modalbox no-border-right no-before" title="{{ translate('_CUSTOMER_HELP', 'customer_help') }}">
        <span class='glyphicon glyphicon-question-sign top-menu__label'>{{ translate('_CUSTOMER_HELP', 'customer_help') }}</span>
    </a>
</li>