<div id="testButtons" class="wizard">
  <div class="actions clearfix">
    <ul>
      <li class="unlisted"><a href="#" onclick="event.preventDefault(); testMigrations();">{{testButton}}</a></li>
    <ul>
  </div>
</div>