@font-face {
  font-family: 'Open-sans';
  src: url('#{$assets}fonts/OpenSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Open-sans';
  src: url('#{$assets}fonts/OpenSans-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open-sans';
  src: url('#{$assets}fonts/OpenSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Open-sans';
  src: url('#{$assets}fonts/OpenSans-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Open-sans';
  src: url('#{$assets}fonts/OpenSans-Semibold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Open-sans';
  src: url('#{$assets}fonts/OpenSans-SemiboldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open-sans';
  src: url('#{$assets}fonts/OpenSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Open-sans';
  src: url('#{$assets}fonts/OpenSans-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Open-sans';
  src: url('#{$assets}fonts/OpenSans-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Open-sans';
  src: url('#{$assets}fonts/OpenSans-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
}