@function grid($columns, $length) {
  @return calc((100% / #{$columns}) * #{$length});
}

.grid {
  width: 100%;
  max-width: $grid-max-width;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.grid--no-overflow {
  overflow: initial;
}

.col {
  float: left;

  @include breakpoint($ipad) {
    padding-left: 20px;
    padding-right: 20px;
  }

  &:first-child:not(:last-child) {
    padding-left: 0;
  }

  &:last-child:not(:first-child) {
    padding-right: 0;
  }
}

.col--no-padding {
  padding-left: 0;
  padding-right: 0;
}

@for $i from 0 through 12 {

  .col--#{$i} {
    width: grid(12, $i);
  }

  .col-gap--#{$i} {
    margin-left: grid(12, $i);
  }

  .col--#{$i}--tablet {
    @include breakpoint($tablet) {
      width: grid(12, $i) !important;
    }
  }

  .col-gap--#{$i}--tablet {
    @include breakpoint($tablet) {
      margin-left: grid(12, $i) !important;
    }
  }

  .col--#{$i}--desk {
    @include breakpoint($ipad) {
      width: grid(12, $i) !important;
    }
  }

  .col-gap--#{$i}--desk {
    @include breakpoint($ipad) {
      margin-left: grid(12, $i) !important;
    }
  }
}